.imagen-carrito{
    width: 100%!important;
}
.tabla-carrito{
    text-align: center;
    border-style: none;
}
.td-carrito{
    border-bottom-color: white;
}
.icon-carrito{
    font-size: 20px;
}
.form-error{
    color: red;
    text-align: start;
    font-weight: 800;
    font-size: 13px;
}
.labels{
    text-align: start;
    font-size: 15px;
}
.mensaje-exito{
    display: flex!important;
}