nav {
  background: linear-gradient(45deg, #b73737, #221e7d) !important;
  display: flex!important;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  max-height: 75px;
}
nav ul {
  /* max-height: 05vh; */
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}
nav li {
  list-style: none;
  padding: 19px 5vh;
}
nav a{
  color: white;
  font-size: 18px;
  padding: 1.9vh; 
  text-decoration: none;
  padding: 1vh;
}
nav a:hover{
  color: black;
  font-weight: 600;
}
nav li:hover {
  font-weight: 600;
  font-size: 18px;
  border-bottom: 4px solid black;
}
nav img{
	height: 70px ;
}
#nav-dropdown{
  list-style: none;
  text-decoration: none;
  color: white;
}
#nav-dropdown:hover{
  list-style: none;
  text-decoration: none;
  color: black;
}


