.cantidad{
    margin-bottom: 15px;
    text-align: start;
}
.botonesItemCount{
    display: flex;
    justify-content: space-between;
}
.agregarCarrito{
    width: 150px;
    background-color: white!important;
    border: 1.5px solid  #4d4d44!important;
}